@using Gaswerk.RouteApp.Code
@model Tuple<Gaswerk.RouteApp.Models.Bewertung, bool>
@{
    var bewertung = Model.Item1;
    var isReadOnly = Model.Item2;
}

<div class="row">
    
    <div class="col-2">
        @if (isReadOnly)
        {
            @bewertung.Schwierigkeit.ToString()
        }
        else
        {
            @Html.MySchwierigkeitsgradDropDown(m=> bewertung.Schwierigkeit);
        }
    </div>
    <div class="col-3">
        @if (isReadOnly)
        {
            if (bewertung.Schönheit > 0)
            {
                @: @bewertung.Schönheit
            }
        }
        else
        {
            @Html.TextBoxFor(b => bewertung.Schönheit, new { @class = "form-control" })
        }
    </div>
    <div class="col-3">
        @if (isReadOnly)
        {
            @: @bewertung.Kommentar
        }
        else
        {
            @Html.TextBoxFor(b => bewertung.Kommentar, new { @class = "form-control" })
        }
    </div>
    <div class="col-4">
        @(bewertung.Kunde?.Name ?? "")
    </div>
</div>
